@font-face {
	font-family: 'ShadowIcons';
	src:url('./ShadowIcons.eot');
	src:url('./ShadowIcons.eot?#iefix') format('embedded-opentype'),
		url('./ShadowIcons.svg#ShadowIcons') format('svg'),
		url('./ShadowIcons.woff') format('woff'),
		url('./ShadowIcons.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

.vixen-video button:after,
.vixen-video button:before {
	font-family: "ShadowIcons";
	font-style: normal;
	font-weight: normal;
	text-decoration: none;
	text-rendering: optimizeLegibility;
	white-space: nowrap;
	speak: none;
	-webkit-font-smoothing: antialiased;
}

.vixen-video {
	font-family: "Helvetica Neue", Arial, Helvetica, sans-serif;
}

.vixen-video, .vixen-video * {
	padding: 0px;
	margin: 0px;
	-moz-box-sizing: border-box;
	-o-box-sizing: border-box;
	box-sizing: border-box;
	color: rgb(174,174,174);
	background-color: transparent;
	border: none;
	-webkit-user-select: none;
	-moz-user-select: none;
	-o-user-select: none;
	user-select: none;
}

.vixen-container {
	position: relative;
	overflow: hidden;
	background-color: black;
	min-width: 320px;
	min-height: 30px;
	max-height: 100%;
	font-family: "Helvetica Neue", Arial, Helvetica, sans-serif;
}

.vixen-container select, .vixen-container select * {
	/* Fix text visibility issues on Windows */
	color: black !important;
	background-color: white !important;
}

.vixen-container.vixen-fullscreen {
	position: absolute;
	top: 0px;
	width: 0px;
	height: 100%;
	width: 100%;
}

.vixen-video {
	min-height: 180px;
}

.vixen-video .vixen-header {
	position: absolute;
	min-height: 20%;
	width: 100%;
	padding: 10px;
	z-index: 20;
	color: white;
	
	background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.70)), to(rgba(0, 0, 0, 0.00)));
	background-image: -webkit-linear-gradient(top, rgba(0, 0, 0, 0.70), rgba(0, 0, 0, 0.00));
	background-image: -moz-linear-gradient(top, rgba(0, 0, 0, 0.70), rgba(0, 0, 0, 0.00));
	background-image: -o-linear-gradient(top, rgba(0, 0, 0, 0.70), rgba(0, 0, 0, 0.00));
	background-image: -ms-linear-gradient(top, rgba(0, 0, 0, 0.70), rgba(0, 0, 0, 0.00));
	background-image: linear-gradient(top, rgba(0, 0, 0, 0.70), rgba(0, 0, 0, 0.00));
	
	-webkit-transition: opacity linear 250ms;
	-msie-transition: opacity linear 250ms;
	-moz-transition: opacity linear 250ms;
	-o-transition: opacity linear 250ms;
	transition: opacity linear 250ms;
}

.vixen-video .vixen-header h1 {
	float: left;
	pointer-events: none;
	color: white;
	font-size: 13pt;
	text-shadow: black 0px 0px 5px;
	width: 55%;
}

.vixen-playing.vixen-ui-activity-timeout .vixen-header {
	opacity: 0 !important;
}

.vixen-media {
	width: 100%;
	height: auto;
	position: relative;
	top: 0px;
}

.vixen-fullscreen .vixen-media {
	height: 100%;
}

.vixen-toolbar {
	position: absolute;
	bottom: 0px;
	margin-top: 29px;
	height: 29px;
	width: 100%;

	border-top: solid rgb(76,76,76) 1px;
	border-bottom: solid rgb(0,0,0) 1px;
	background-color: rgb(20,20,20);

	box-shadow: rgb(42,42,42) 0px -1px 0px !important;

	/* Gradient. Keeping away from older IE - they can get 'authentically digital'. */
	background-image: -webkit-gradient(linear, left top, left bottom, from(rgb(40, 40, 40)), to(rgb(19, 19, 19)));
	background-image: -webkit-linear-gradient(top, rgb(40, 40, 40), rgb(19, 19, 19));
	background-image: -moz-linear-gradient(top, rgb(40, 40, 40), rgb(19, 19, 19));
	background-image: -o-linear-gradient(top, rgb(40, 40, 40), rgb(19, 19, 19));
	background-image: -ms-linear-gradient(top, rgb(40, 40, 40), rgb(19, 19, 19));
	background-image: linear-gradient(top, rgb(40, 40, 40), rgb(19, 19, 19));
	
	-webkit-transition: opacity linear 250ms;
	-msie-transition: opacity linear 250ms;
	-moz-transition: opacity linear 250ms;
	-o-transition: opacity linear 250ms;
	transition: opacity linear 250ms;
}

.vixen-playing.vixen-ui-activity-timeout .vixen-toolbar {
	opacity: 0;
}

.vixen-toolbar > * {
	float: left;
}

.vixen-toolbar label {
	display: block;
	padding: 0px 4px;
	line-height: 27px;
	font-size: 8pt;
	min-width: 40px;
	text-align: center;
}

.vixen-toolbar button {
	width: 30px;
	overflow: hidden;
	line-height: 28px;
	height: 28px;
	text-align: center;
	color: transparent;
}

.vixen-toolbar button:before {
	text-align: center;
	display: block;
	position:absolute;
	z-index:10;
	width: 30px;
	line-height: 28px;
	content: "\25CE";
	color: rgb(174,174,174);
	pointer-events: none;
	
	font-size: 11pt;
}

.vixen-toolbar button:focus {
	outline: solid white 1px;

	background-image: -webkit-gradient(radial, 50% 50%,0,50% 50%,200, from(rgba(0, 0, 0, 0.00)), to(rgba(0, 0, 0, 0.50)));
	background-image: -webkit-radial-gradient(50% 50%, rgba(0, 0, 0, 0.50), rgba(0, 0, 0, 0.00));
	background-image: -moz-radial-gradient(50% 50%, rgba(0, 0, 0, 0.50), rgba(0, 0, 0, 0.00));
	background-image: -o-radial-gradient(50% 50%, rgba(0, 0, 0, 0.50), rgba(0, 0, 0, 0.00));
	background-image: -ms-radial-gradient(50% 50%, rgba(0, 0, 0, 0.50), rgba(0, 0, 0, 0.00));
	background-image: radial-gradient(50% 50%, rgba(0, 0, 0, 0.50), rgba(0, 0, 0, 0.00));
}

.vixen-toolbar button:focus:before,
.vixen-toolbar button:active:before,
.vixen-toolbar button:hover:before {
	color: white;
	text-shadow: white 0px 0px 4px;
}

.vixen-toolbar .vixen-playpause:before {
	content: "\e000";
}

.vixen-playing .vixen-toolbar .vixen-playpause:before {
	content: "\e001";
}

.vixen-toolbar .vixen-fullscreenbutton:before {
	content: "\e002";
}

.vixen-fullscreen .vixen-fullscreenbutton:before {
	content: "\e003";
}

.vixen-scrubber {
	position: relative;
	min-width: 40px;
	height: 14px;
	background-color: rgb(39,39,39);
	top: 6px;

	overflow: hidden;

	border: solid rgb(10,10,10) 1px;
	border-bottom-color: rgb(102,102,102);

	-webkit-border-radius: 7px;
	-moz-border-radius: 7px;
	-o-border-radius: 7px;
	-msie-border-radius: 7px;
	border-radius: 7px;

	background-image: -webkit-gradient(linear, left top, left bottom, from(rgb(39, 39, 39)), to(rgb(67, 66, 66)));
	background-image: -webkit-linear-gradient(top, rgb(39, 39, 39), rgb(67, 66, 66));
	background-image: -moz-linear-gradient(top, rgb(39, 39, 39), rgb(67, 66, 66));
	background-image: -o-linear-gradient(top, rgb(39, 39, 39), rgb(67, 66, 66));
	background-image: -ms-linear-gradient(top, rgb(39, 39, 39), rgb(67, 66, 66));
	background-image: linear-gradient(top, rgb(39, 39, 39), rgb(67, 66, 66));
}

.vixen-scrubber:focus, .vixen-volumeslider:focus {
	visibility: visible !important;
	-webkit-box-shadow: white 0px 0px 5px 2px;
	-msie-box-shadow: white 0px 0px 5px 2px;
	-moz-box-shadow: white 0px 0px 5px 2px;
	-o-box-shadow: white 0px 0px 5px 2px;
	box-shadow: white 0px 0px 7px 3px !important;
	outline: none;
}

.vixen-volumeslider.vixen-focus {
	visibility: visible !important;
	opacity: 1;
}

.vixen-playprogress {
	height: 100%;
	min-width: 10px;
	position: absolute;
	background-color: black;

	-webkit-border-radius: 7px;
	-moz-border-radius: 7px;
	-o-border-radius: 7px;
	-msie-border-radius: 7px;
	border-radius: 7px;
}

.vixen-loadprogress {
	height: 100%;
	position: absolute;
	background-color: rgba(0,0,0,0.3);

	-webkit-border-radius: 7px;
	-moz-border-radius: 7px;
	-o-border-radius: 7px;
	-msie-border-radius: 7px;
	border-radius: 7px;

	-webkit-transition: width 250ms ease-out;
}

.vixen-loading .vixen-loadprogress {
	background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAAAKCAMAAAC67D+PAAAABlBMVEUjIyMoKChOD4pbAAAAHElEQVQIW2NgAAFGECCTxYAQY0DIMiDUMSB0AAALLAAz8zRmwwAAAABJRU5ErkJggg==");
	background-repeat: repeat;
	
	-webkit-box-shadow: inset black 0px 0px 5px;
	-msie-box-shadow: inset black 0px 0px 5px;
	-moz-box-shadow: inset black 0px 0px 5px;
	-o-box-shadow: inset black 0px 0px 5px;
	box-shadow: inset black 0px 0px 5px;
	
	-webkit-animation: loader 1s infinite linear;
	-msie-animation: loader 1s infinite linear;
	-moz-animation: loader 1s infinite linear;
	-o-animation: loader 1s infinite linear;
	animation: loader 1s infinite linear;
}

@-moz-keyframes loader {
	from {
		background-position-x: 20px;
	}
	
	to {
		background-position-x: 0px;
	}
}

@-webkit-keyframes loader {
	from {
		background-position-x: 20px;
	}

	to {
		background-position-x: 0px;
	}
}

@keyframes loader {
	from {
		background-position-x: 20px;
	}

	to {
		background-position-x: 0px;
	}
}

.vixen-thumb, .vixen-volumethumb {
	float: right;

	width: 10px;
	height: 10px;
	margin-top: 1px;
	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
	-o-border-radius: 6px;
	border-radius: 6px;

	overflow: hidden;

	background-color: #dedcdc;
	background-image: -webkit-gradient(linear, left top, left bottom, from(#dedcdc), to(#999595));
	background-image: -webkit-linear-gradient(top, #dedcdc, #999595);
	background-image: -moz-linear-gradient(top, #dedcdc, #999595);
	background-image: -ms-linear-gradient(top, #dedcdc, #999595);
	background-image: -o-linear-gradient(top, #dedcdc, #999595);
	background-image: linear-gradient(top, #dedcdc, #999595);

	/* Would ordinarily have included an MS filter fallback, but it makes
	the scroll-thumb into a square, which looks worse than not having it at all. */

	border: solid rgba(113,110,110,0.9) 1px;

	-webkit-box-shadow: inset rgba(255,255,255,0.4) 1px 1px 0px,
						rgba(0,0,0,0.36) 0px 2px 2px;
	-moz-box-shadow:	inset rgba(255,255,255,0.4) 1px 1px 0px,
						rgba(0,0,0,0.36) 0px 2px 2px;
	-o-box-shadow:		inset rgba(255,255,255,0.4) 1px 1px 0px,
						rgba(0,0,0,0.36) 0px 2px 2px;
	box-shadow:			inset rgba(255,255,255,0.4) 1px 1px 0px,
						rgba(0,0,0,0.36) 0px 2px 2px;
	
}


.vixen-toolbar .vixen-mute:before {
	content: "\e005";
}

.vixen-muted .vixen-mute:before {
	content: "\e004";
}

.vixen-volumegroup {
	width: 30px;
	padding-top: 60px;
	height: 28px;
	margin-top: -58px;
	position: relative;
}

.vixen-volumeslider {
	opacity: 0;
	
	position: absolute;
	min-height: 50px;
	margin-left: 7px;
	width: 14px;
	background-color: rgb(39,39,39);
	top: 0px;

	border: solid rgb(10,10,10) 1px;

	-webkit-border-radius: 7px;
	-moz-border-radius: 7px;
	-o-border-radius: 7px;
	-msie-border-radius: 7px;
	border-radius: 7px;

	background-image: -webkit-gradient(linear, left top, right top, from(rgb(39, 39, 39)), to(rgb(67, 66, 66)));
	background-image: -webkit-linear-gradient(left, rgb(39, 39, 39), rgb(67, 66, 66));
	background-image: -moz-linear-gradient(left, rgb(39, 39, 39), rgb(67, 66, 66));
	background-image: -o-linear-gradient(left, rgb(39, 39, 39), rgb(67, 66, 66));
	background-image: -ms-linear-gradient(left, rgb(39, 39, 39), rgb(67, 66, 66));
	background-image: linear-gradient(left, rgb(39, 39, 39), rgb(67, 66, 66));

	-webkit-box-shadow: rgb(255,255,255) 0px 0px 2px;
}

.vixen-volumeslider.vixen-dragging {
	opacity: 1;
}

.vixen-volumesliderinner {
	position: absolute;
	width: 100%;
	min-height: 10px;
	bottom: 0px;
	padding-right: 1px;
	background-color: rgba(0,0,0,0.5);

	-webkit-border-radius: 7px;
	-moz-border-radius: 7px;
	-o-border-radius: 7px;
	-msie-border-radius: 7px;
	border-radius: 7px;
}

.vixen-volumegroup:hover .vixen-volumeslider {
	opacity: 1;
}

/* TODO Gotta be a better way to do this. Going home now. */
.vixen-mute {
	margin-top: -2px;
}

.vixen-volumeslider:focus,
.vixen-mute:focus + .vixen-volumeslider,
.vixen-mute:active + .vixen-volumeslider {
	opacity: 1;
}

.vixen-errormsg {
	position: absolute;
	background-color: rgba(0,0,0,0.5);
	top: 0px;
	width: 90%;
	padding: 5%;
	margin: 5%;
}

.vixen-errormsg h1 {
	font-weight: lighter;
	margin-bottom: 0.5em;
	font-size: 140%;
}

.vixen-errormsg p {
	font-size: 10pt;
	margin-bottom: 1em;
}

.vixen-errormsg ul {
	display: block;
	margin: 0px;
}

.vixen-errormsg li {
	font-size: 10pt;
	float: left;
	background-color: #232323;
	border: solid #444 1px;
	border-radius: 4px;
	padding: 5px;
	margin: 4px;
	list-style: none;
}

.vixen-error .vixen-toolbar > * {
	opacity: 0.3;
	pointer-events: none;
}

.vixen-auxtools {
	float: right;
	font-size: 75%;
	color: white;
	width: 40%;
	min-width: 170px;
}

.vixen-auxtools * {
	color: white;
}

.vixen-dropdownwrapper {
	position: relative;
	
	margin: 4px;
	margin-top: 0px;
	padding: 0px 5px;
	padding-right: 0px;
	line-height: 28px;
	height: 30px;
	width: 100%;
	
	background-color: rgba(0,0,0,0.8);
	border: solid #333 1px;
	border-top-color: #444;
	border-bottom-color: #2A2A2A;
	
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	-o-border-radius: 4px;
	border-radius: 4px;
	
	-webkit-box-shadow: rgba(0,0,0,0.36) 0px 2px 2px;
	-moz-box-shadow:	rgba(0,0,0,0.36) 0px 2px 2px;
	-o-box-shadow:		rgba(0,0,0,0.36) 0px 2px 2px;
	box-shadow:			rgba(0,0,0,0.36) 0px 2px 2px;
}

.vixen-dropdownwrapper label {
	display: block;
	min-width: 150px;
	height: 30px !important;
	overflow: hidden;
	word-break: break-word;
	text-overflow: elipsis;
}

.vixen-dropdownwrapper label:before {
	font-family: ShadowIcons;
	content: "\25CE";
	font-size: 11pt;
	line-height: 27px;
	float: left;
	width: 25px;
	padding-right: 3px;
	text-align: center;
	color: #AAA;
}

.vixen-dropdownwrapper label:after {
	position: absolute;
	width: 20px;
	height: 28px;
	top: 0px;
	right: 0px;
	
	font-family: Helvetica, Arial, sans-serif;
	font-size: 8pt;
	text-align: center;
	line-height: 30px;
	
	content: "\25bc";
	
	color: #444;
	background-color: #1A1A1A;
	border-left: solid #333 1px;
	
	-webkit-border-top-right-radius: 3px;
	-moz-border-radius-topright: 3px;
	-o-border-top-right-radius: 3px;
	border-top-right-radius: 3px;
	
	-webkit-border-bottom-right-radius: 3px;
	-moz-border-radius-bottomright: 3px;
	-o-border-bottom-right-radius: 3px;
	border-bottom-right-radius: 3px;
}

.vixen-dropdownwrapper:hover label:after,
.vixen-focus label:after {
	color: #999;
	border-left: solid #777 1px;
}

.vixen-dropdownwrapper select {
	display: block;
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0px;
	left: 0px;
	opacity: 0;
}

.vixen-dropdownwrapper:hover, .vixen-focus {
	border-color: white;
	-webkit-box-shadow: rgba(255,255,255,0.56) 0px 0px 10px;
	-moz-box-shadow:	rgba(255,255,255,0.56) 0px 0px 10px;
	-o-box-shadow:		rgba(255,255,255,0.56) 0px 0px 10px;
	box-shadow:			rgba(255,255,255,0.56) 0px 0px 10px;
}

.vixen-currentselectorvalue {
	color: #AAA;
}

/* Dropdown icons */

.vixen-resselector label:before {
	content: "\e007";
}

.vixen-captionsselector label:before {
	content: "\e006";
}

.vixen-chapterselector label:before {
	content: "\e008";
}

.vixen-audiotrackselector label:before {
	content: "\e00a";
}

.vixen-videotrackselector label:before {
	content: "\e009";
}


/* Bigger toolbar with finger-sized hotspots for touch devices... */

@media only screen and (max-width: 590px) {
	
	.vixen-playing .vixen-toolbar {
		opacity: 1;
	}
	
	.vixen-toolbar {
		position: static;
		margin-top: 0px;
		height: 60px;
	}
	
	.vixen-toolbar label {
		padding: 0px 8px;
		line-height: 57px;
		font-size: 11pt;
		min-width: 50px;
	}
	
	.vixen-toolbar button {
		width: 55px;
		line-height: 58px;
		height: 58px;
	}
	
	.vixen-toolbar button:before {
		width: 55px;
		line-height: 58px;
		font-size: 18pt;
	}
	
	.vixen-volumegroup {
		width: 55px;
		padding-top: 80px;
		height: 58px;
		margin-top: -78px;
		position: relative;
	}
	
	.vixen-video .vixen-header h1 {
		width: 40%;
	}
	
	.vixen-scrubber {
		height: 24px;
		top: 17px;
		
		-webkit-border-radius: 12px;
		-moz-border-radius: 12px;
		-o-border-radius: 12px;
		-msie-border-radius: 12px;
		border-radius: 12px;
	}
	
	.vixen-thumb, .vixen-volumethumb {
		float: right;
	
		width: 21px;
		height: 21px;
		margin-top: 1px;
		-webkit-border-radius: 11px;
		-moz-border-radius: 11px;
		-o-border-radius: 11px;
		border-radius: 11px;
	}
	
	.vixen-playprogress,
	.vixen-loadprogress {
		min-width: 21px;
		-webkit-border-radius: 11px;
		-moz-border-radius: 11px;
		-o-border-radius: 11px;
		border-radius: 11px;
	}
	
	.vixen-volumeslider {
		min-height: 70px;
		margin-left: 18px;
		width: 24px;
		
		-webkit-border-radius: 12px;
		-moz-border-radius: 12px;
		-o-border-radius: 12px;
		-msie-border-radius: 12px;
		border-radius: 12px;
	}
	
	.vixen-volumesliderinner {
		width: 100%;
		min-height: 22px;
		-webkit-border-radius: 12px;
		-moz-border-radius: 12px;
		-o-border-radius: 12px;
		-msie-border-radius: 12px;
		border-radius: 12px;
	}
	
}

/* Now for the fullscreen button styling... */

.vixen-fullscreen .vixen-toolbar {
	position: absolute;
	bottom: 10%;
	left: 50%;
	width: 500px;
	margin-left: -250px;
	height: 60px;
	
	box-shadow:	rgb(42,42,42) 0px -1px 0px,
				rgba(0,0,0,0.5) 0px 2px 4px !important;
	
	-webkit-border-radius: 10px;
	-msie-border-radius: 10px;
	-moz-border-radius: 10px;
	-o-border-radius: 10px;
	border-radius: 10px;
}

.vixen-fullscreen .vixen-toolbar button {
	width: 50px;
}

.vixen-fullscreen .vixen-toolbar button,
.vixen-fullscreen .vixen-toolbar button:before {
	width: 55px;
	line-height: 58px;
	height: 58px;
	font-size: 18pt;
}

.vixen-fullscreen .vixen-toolbar .vixen-volumegroup {
	margin: 0px;
	width: 120px;
	padding: 0px;
}

.vixen-fullscreen .vixen-toolbar label {
	padding: 0px 8px;
	line-height: 57px;
	font-size: 9pt;
	min-width: 50px;
}

.vixen-fullscreen .vixen-scrubber,
.vixen-fullscreen .vixen-volumeslider {
	height: 16px;
	min-height: 16px;
	min-width: 60px;
	top: 19px;
	
	-webkit-border-radius: 8px;
	-moz-border-radius: 8px;
	-o-border-radius: 8px;
	-msie-border-radius:8px;
	border-radius: 8px;
	
	opacity: 1;
}

.vixen-fullscreen .vixen-thumb,
.vixen-fullscreen .vixen-volumethumb {
	float: right;

	width: 13px;
	height: 13px;
	margin-top: 1px;
	-webkit-border-radius: 7px;
	-moz-border-radius: 7px;
	-o-border-radius: 7px;
	border-radius: 7px;
}

.vixen-fullscreen .vixen-playprogress,
.vixen-fullscreen .vixen-loadprogress {
	min-width: 14px;
	-webkit-border-radius: 7px;
	-moz-border-radius: 7px;
	-o-border-radius: 7px;
	border-radius: 7px;
}

.vixen-fullscreen .vixen-volumeslider {
	margin-left: 50px;
	
	border: solid rgb(10,10,10) 1px;
	border-bottom-color: rgb(102,102,102);
	
	background-image: -webkit-gradient(linear, left top, left bottom, from(rgb(39, 39, 39)), to(rgb(67, 66, 66)));
	background-image: -webkit-linear-gradient(top, rgb(39, 39, 39), rgb(67, 66, 66));
	background-image: -moz-linear-gradient(top, rgb(39, 39, 39), rgb(67, 66, 66));
	background-image: -o-linear-gradient(top, rgb(39, 39, 39), rgb(67, 66, 66));
	background-image: -ms-linear-gradient(top, rgb(39, 39, 39), rgb(67, 66, 66));
	background-image: linear-gradient(top, rgb(39, 39, 39), rgb(67, 66, 66));
	
	-webkit-box-shadow: none;
	-msie-box-shadow: none;
	-moz-box-shadow: none;
	-o-box-shadow: none;
	box-shadow: none;
}

.vixen-fullscreen .vixen-volumesliderinner {
	margin: 0px;
	
	width: 100%;
	min-height: 14px;
	min-width: 15px;
	-webkit-border-radius: 7px;
	-msie-border-radius: 7px;
	-moz-border-radius: 7px;
	-o-border-radius: 7px;
	border-radius: 7px;
}

.captionator-cue-canvas,
.captionator-cue-canvas * {
	pointer-events: none;
	color: white !important;
	font-weight: bold;
	font-family: "Helvetica Neue", Arial, Helvetica, sans-serif;
	z-index: 2;
}